<div class="container" id="container"></div>
<footer>
  <div class="controls">
    <div class="button-wrapper">
      <button id="control-left" class="control green">&larr;</button>
    </div>

    <div class="button-wrapper">
      <button id="control-down" class="control green">&darr;</button>
    </div>

    <div class="button-wrapper">
      <button id="control-up" class="control green">&uarr;</button>
    </div>

    <div class="button-wrapper">
      <button id="control-right" class="control green">&rarr;</button>
    </div>
  </div>
</footer>
